@use "styles/variables" as *;

.home-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $background-color;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}