@use "styles/variables" as *;

.header-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    padding: 20px;
    color: $text-color;
    font-family: 'Irish Grover', cursive;
}

.mid-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-box {
    display: flex;
    justify-content: flex-end;
}