@use "styles/variables" as *;

.desktop-main {
  color: $text-color;
  display: grid;
  grid-template-columns: repeat(2, 90px);
  gap: 20px;
  padding: 10px;
}

.desktop-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 90px;
    padding: 10px;
    border: 1px solid transparent;
    &:hover {
        border: 1px dotted $text-color;
    }
}

.desktop-app-name {
    font-size: 12px;
}